* {
    padding: 0px;
    margin: 0px;
}
body {
    background-image: url(images/Background.png);
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.75fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}